
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root:has(:is(.modal-open,.modal:target,.modal-toggle:checked + .modal,.modal[open])){
    scrollbar-gutter:  unset !important;
}
main.main {
    margin-top: 230px;
}
.active2{
    background-color:#B4F461 !important;
    color: black !important;
}
.fixed-header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
}
.show{
    display: flex;
}
.hide{
    display:none !important;
}
.historyDiv{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 20px;
    border: 1px solid #8080804a;
    border-radius: 12px;
}
.historyDiv h2 {
    font-size: 31px;
    font-weight: 700;
}

.historyDiv p {
    font-size: 19px;
    color: #0000009e;
}