
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root:has(:is(.modal-open,.modal:target,.modal-toggle:checked + .modal,.modal[open])){
    scrollbar-gutter:  unset !important;
}
.active2{
    background-color:#B4F461 !important;
    color: black !important;
}

.show{
    display: flex;
}
.hide{
    display:none;
}